node_modules
.env
coverage
coverage.json
typechain
typechain-types
tree.json
.DS_Store
test-accounts.json
# Hardhat files
cache_hardhat
artifacts

# Foundry Files
out/
forge-cache/

# Coverage files
lcov.info
report/
